body {
    --white1: #F3F3F3;
    --black1: #181818;
    --gray1: #C6C6C6;
    --gray2: #b2bec3;
    --gray3: #636e72;

    --yellow1: #FFEAA7;
    --purple1: #A29BFE;
    --purple2: #6c5ce7;
    --green1: #55EFC4;
    --green2: #00b894;
    --orange1: #fab1a0;
    --orange2: #e17055;
    --red1: #ff7675;
    --red2: #d63031;
    --pink1: #e84393;
    
    --border-size: 1.7px;
}

#root {
    background-color: var(--white1);
    color: var(--black1);
    height: 220px;
    width: 400px;
    
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    align-items: center;

    border: var(--border-size) solid var(--black1);
}

#root.invisible,
.invisible {
    /* visibility: hidden; */
    /* transform: scale(0); */
   /*  display: none; */
    
    /* position: absolute;
    top: -9999px; */

    display: none;
}

* {
    /* outline: 1px solid red; */
}

header, main, aside, section {
    height: 100%;
}

/* --------- HEADER ---------*/
header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;

    background-color: var(--yellow1);
    border: solid black;
    border-width: 0 0 var(--border-size) 0;
}

header > img {
    width: 19px;
    height: auto;
}

header > h1 {
    font-size: 18px;
    font-weight: 600;
}

header > h1 > span {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

header > a {
    margin-left: auto;
    font-size: 10px;
    color: var(--gray3);
}

header > a:hover {
    text-decoration: underline;
}

header > a::after {
    content: "📄";
}

/* --------- MAIN ---------*/
main{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 10px;

    border: solid var(--black1);
    border-width: 0 0 var(--border-size) 0;
}

main > div:first-child {
    align-self: center;

    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    border: 1px solid var(--gray2);

    font-size: 45px;
    color: var(--gray1);
    display: flex;
    place-content: center;

    transform: scale(1);
    transition: transform 0.1s ease-in-out;

    user-select: none;
}

main > div:first-child:hover {
    transform: scale(1.02)
}

main > div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

main > div:last-child > label{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

main > div:last-child > label:where(:nth-child(1), :nth-child(2), :nth-child(3)){
    letter-spacing: 1.5px;
}

main > div:last-child > label > input{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    width: 130px;

    font-family: "Red Hat Mono", monospace;
    font-size: 12px;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;

    cursor: pointer;
    transition: color 0.15s;
    border-radius: 5px;

    text-overflow: ellipsis;
}

main > div:last-child > label > input:focus{
    outline: none;
}

main > div:last-child > label > input:active{
    color: var(--pink1);
}


/* --------- Aside ---------*/
aside{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
    padding: 10px 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    border: solid var(--black1);
    border-width: 0 0 var(--border-size) var(--border-size);
}

aside > span {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    row-gap: 15px;
}

.color-well{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid var(--gray3);

    transform: scale(1);
    transition: transform 0.15s ease-in-out;
}

.color-well:hover{
    transform: scale(1.2);
}

.color-well:active{
    transform: scale(1);
}

.color-well:first-child{
    color: var(--gray2);
    border: 1px solid var(--gray2);
    font-size: 14px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1px;
    padding-bottom: 1px;
    user-select: none;
}

.color-well:first-child:hover{
    transform: none;
}

.color-well:first-child:active{
    transform: none;
}

/* --------- Section ---------*/
section{
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.2fr 0.2fr;
    background-color: var(--gray2);
}

section > button {
    background-color: var(--mainColor);
    border: none;
    border-right: var(--border-size) solid var(--black1);
    transition: background-color 0.15s ease-in-out;
}

section > button:is(:nth-child(3), :nth-child(4)) {
    border-right: none;
    border-left: var(--border-size) solid var(--black1);
}

section > button > img{
    width: 15px;
    height: auto;
}

section > button:nth-child(1) {
    font-size: 16px;
    background-color: var(--purple1);
    letter-spacing: 2px;
}

section > button:nth-child(2){
    margin-right: auto;
    padding: 0 20px;
    background-color: var(--green1);
}

section > button:nth-child(3) {
    background-color: var(--orange1);
}

section > button:nth-child(4){
    background-color: var(--red1);
}


section > button:nth-child(1):active {
    background-color: var(--purple2) ;
}

section > button:nth-child(2):active {
    background-color: var(--green2) ;
}

section > button:nth-child(3):active {
    background-color: var(--orange2) ;
}

section > button:nth-child(4):active {
    background-color: var(--red2) ;
}


/* --------------------------------*/
/* --------- DOT Flashing ---------*/
/* --------------------------------*/
.stage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 25px;
}
.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--orange1);
    color: var(--orange1);
    animation: dot-flashing-orange 0.7s infinite linear alternate;
    animation-delay: 0.3s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--purple1);
    color: var(--purple1);
    animation: dot-flashing-purple 0.7s infinite linear alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--green1);
    color: var(--green1);
    animation: dot-flashing-green 0.7s infinite linear alternate;
    animation-delay: 0.5s;
  }
  
  @keyframes dot-flashing-orange {
    0% {
      background-color: var(--orange1);
    }
    50%, 100% {
      background-color: rgba(225, 112, 85, 0);
    }
  }

  @keyframes dot-flashing-purple {
    0% {
      background-color: var(--purple1);
    }
    50%, 100% {
      background-color: rgba(0, 184, 148, 0);
    }
  }

  @keyframes dot-flashing-green {
    0% {
      background-color: var(--green1);
    }
    50%, 100% {
      background-color: rgba(0, 184, 148, 0);
    }
  }